/* Основоной цвет #757575 
цвет заголовков #212121
Цвет при ховере/фокусе #2196F3
Цвет бекграунда/1 заголовка #FFFFFF
цвет другого бекгрануда  #2F303A
и цвет еще одного бекграунда  */
:root {
  --primery-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #ffffff;
  --style-color: #2196f3;
}

body {
  background-color: var(--accent-color);
  color: var(--primery-text-color);
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
}

ul {
  list-style: none;
}

/* Logo */
.logo {
  color: #000000;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.3;
  text-decoration: none;
}

.logo-style {
  color: var(--style-color);
}

.logo-style-footer {
  color: var(--accent-color);
}

/* Site navigation */
.site-nav .link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
  text-decoration: none;
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--style-color);
}

/* Contacts */
.contacts .link-contact {
  color: inherit;
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.contacts .link-contact:hover,
.contacts .link-contact:focus {
  color: var(--style-color);
}

/* Hero */
.hero {
  background-color: #2f303a;
}

.hero-title {
  color: var(--accent-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.hero-btn {
  background-color: var(--style-color);
  color: var(--accent-color);
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
}

/* Sections */
.section-title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
}

.section-subtitle {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.section-text {
  font-size: 14px;
  line-height: 1.71;
}

.section-color {
  background-color: #f5f4fa;
}

/* Our team */
.list {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
}

.list-text {
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
}

/* Buttons*/
.button .list-button {
  background-color: #f5f4fa;
  color: var(--title-text-color);
  cursor: pointer;
}

.button .list-button:focus,
.button .list-button:hover {
  background-color: var(--style-color);
  color: var(--accent-color);
}

.list-button {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
}

/* Our produtcs */
.item {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.item-description {
  font-size: 16px;
  line-height: 1.87;
}

/* Footer */
.footer {
  background-color: #2f303a;
}

.footer .footer-text {
  color: var(--accent-color);
}

.footer .footer-contact {
  color: inherit;
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.footer .footer-contact:hover,
.footer .footer-contact:focus {
  color: var(--style-color);
}
